
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*Top of the page with name and links*/
/*
header{
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  display:  flex;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  z-index: 1;
  background-color: #000f39;
  box-shadow: 10px 10px 8px #111;;
}
*/
header {
  background-color: #000f39;
  padding: 1% 17.5%;
  width: 100%;
  position: fixed;
  top: 0;
}
.container1 {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}


.menu-toggle {
  display: none;
}
.menu {
  color: rgb(101, 158, 229);
  font-size: 22px;
  font-weight: 1000;
  display: flex;
  list-style: none;
}
.menu li {
  margin-left: 30px;
}
.menu li a {
  color: #fff;
  text-decoration: none;
}
.menu li a:hover {
  color: #dd2d4a;
}
.home {
  padding: 0 17.5%;
  display: flex;
  background: linear-gradient(-45deg, #000f39, #6d7da8, #1d3169, #010103);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh; 
}
.name {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
}
.name h1 {
  font-size: 35px;
  color: #fff;
  margin-bottom: 10px;
}
.name h2 {
  color: #fff;
  font-size: 66px;
  margin-bottom: 35px;
}
.name h2 span{
  color: #000f39;
}
.typing-animation .text {
  overflow: hidden;
  font-size: 45px;
  color: #fff;
  border-right: .15em solid rgb(254, 218, 142);
  white-space: nowrap;
  margin: 0 auto;
  animation:
    typing 6s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.typing-animation .text.untyping {
  animation:
    untyping 5s steps(40, end) 1s,
    blink-caret .75s step-end infinite;
}

@keyframes untyping {
  from { width: 100% }
  to { width: 0 }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.buttons {
  display: flex;
  margin-top: 50px;
}
.buttons a {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #000f39;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.image {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50% 40%;
}


@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  
  .menu {
    flex-direction: column;
    align-items: flex-start;
    display: none;
  }
  .menu-toggle button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .menu-toggle button:hover {
    background-color: #ddd;
  }

  .menu.active {
    display: block;
  }

  .home{
    padding-top: 150px;
    flex-direction: column;
  }
  .name {
    width: 100%;
  }
  .name h1 {
    font-size: 25px;
  }
  .name h2 {
    font-size: 45px;
  }
  .typing-animation .text {
    font-size: 35px;
  }
  .image{
    padding-top: 20px ;
    width: 100%;
    height: 30vh;
  }
}
/*
.link {
  list-style: none;
}

a {
  color: rgb(101, 158, 229);
  font-size: 1rem;
  font-weight: 1000;
  text-decoration: none;
}
a:hover {
  color: #dd2d4a;
}
.nav1 {
  width: 20%;
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
}

.nav2 {
  width: 20%;
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}
/*Name and disappearing description*/

/*
.container {
  width: 50%;
  position: relative;
  height: 80px;
  padding-top: 0.5rem;
}
.container .name {
  position: relative;
  color: #fff8de;
  font-size: 30px;
  font-weight: 1000;
}

.container .text.second {
  position: relative;
  color: rgb(101, 158, 229);
  font-size: 20px;
  padding-top: 10px;
  font-weight: 1000;
}

.text.second:before {
  content: "";
  position: absolute;
  top: 10;
  left: 0;
  height: 80%;
  width: 100%;
  background-color: #000f39;
  border-left: 2px solid rgb(101, 158, 229);
  animation: animate 6s steps(18) infinite;
}
@keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}
/*Start of the projects*/
/*
#timeline {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  display: flex;
  background-color: #111;
  padding-top: 20px;
}
#timeline:hover .tl-item {
  width: 17%;
}
.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 700px;
  color: #fff8de;
  transition: width 0.5s ease;
}
.tl-item:before,
.tl-item:after {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tl-item:after {
  background: rgba(3, 22, 37, 0.85);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.tl-item:before {
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #111 80%);
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(0%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.tl-item:hover {
  width: 50% !important;
}
.tl-item:hover:after {
  opacity: 0;
}
.tl-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
  filter: grayscale(30%);
}
.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 0.5em;
  top: 20%;
  opacity: 0;
}
.tl-content h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
  color: rgb(101, 158, 229);
  text-decoration-line: underline;
  font-size: 20px;
  font-weight: normal;
}
.tl-year {
  color: rgb(101, 158, 229);
  text-decoration-color: white;
  font-size: 25px;
  font-weight: 100;
  position: relative;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 700px;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}

/*about section including picture and description*/
/*
.about-wrapper {
  height: 1400px;
  box-sizing: border-box;
}
.about-left {
  background: #000f39;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
}
.about-left-content > div {
  background: #102b72;
  padding: 4rem 4rem 2.5rem 5rem;
  text-align: center;
}
.about-left-content {
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}
.about-img img {
  display: block;
  width: 200px;
}
.about-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.shadow {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer;
}
.shadow::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  height: 7px;
  width: 50px;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  opacity: 0;
  transition: all 0.6s ease;
}
.shadow:hover .about-img {
  transform: translateY(-10px);
}
.shadow:hover::after {
  opacity: 1;
}
.about-left-content h2 {
  font-size: 2rem;
  color: #fff8de;
  margin: 2.2rem 0 0.6rem 0;
  line-height: 1.2;
  padding-bottom: 1rem;
  border-bottom: 2px solid #edffec;
}
.about-left-content h3 {
  color: #fff8de;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 1.2rem;
}
.about-right {
  background: #fff8de;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  text-align: center;
}
.about-right h1 {
  color: #001755;
  font-size: 7rem;
  text-transform: uppercase;
}
.about-right h1 span {
  color: #dd2d4a;
}
.about-right h2 {
  color: #001755;
  font-weight: 600;
}
.about-para p {
  font-weight: 300;
  padding: 0.5rem;
  opacity: 0.8;
  color: #001755;
}

#final {
  display: flex;
  background-color: #111;
}

#links {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  width: 40%;
}
.icon {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: #fff;
  margin: 20px;
  text-align: center;
  font-size: 50px;
  line-height: 100px;
  font-family: sans-serif;
  overflow: hidden;
  box-shadow: 5px 10px 20px rgba(150, 150, 150, 0.3);
  transition: all 0.3s ease-out;
}
.icon:hover {
  width: 150px;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #001755;
}

.icon .fa-twitter {
  color: #1da1f2;
}
.twt:hover {
  background: #1da1f2;
}
.icon .fa-linkedin-in {
  color: #0077b5;
}
.lnk:hover {
  background: #0077b5;
}
.icon .fa-github {
  color: #000;
}
.git:hover {
  background: #000;
}
.icon .fa-youtube {
  color: #fe0000;
}
.yt:hover {
  background: #fe0000;
}
.icon a {
  all: revert;
}



/* Style the submit button with a specific background color etc */
/*
input[type="submit"] {
  background-color: #dd2d4a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
/*
input[type="submit"]:hover {
  background-color: #dd2d4a;
}

/* Add a background color and some padding around the form */
/*
.form {
  border-radius: 5px;
  color: #fff8de;
  width: 60%;
  padding: 2rem;
  font-size: 20px;
  align-items: center;
}

@media screen and (min-width: 992px) {
  body {
    padding-top: 125px;
  }
  a {
    font-size: 2rem;
  }
  .nav1 {
    width: 25%;
    gap: 5rem;
  }
  .nav2 {
    width: 25%;
    gap: 5rem;
  }
  .container {
    height: 125px;
    padding-top: 0px;
  }
  .container .name {
    font-size: 3.5rem;
    padding-top: 0;
  }
  .container .text.second {
    font-size: 2.5rem;
    padding-top: 0px;
  }
  .text.second:before {
    top: 0;
    height: 100%;
  }
  #timeline {
    font-size: 1.3rem;
    padding-top: 1rem;
  }
  #timeline:hover .tl-item {
    width: 23.333%;
  }
  .tl-item:hover {
    width: 30% !important;
  }
  .tl-content h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .tl-year {
    font-size: 2.5rem;
    text-decoration-line: none;
  }
  .about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 700px;
  }
  .about-left {
    position: relative;
  }
  .about-left-content {
    position: absolute;
    right: -50px;
  }
  .icon:hover {
    width: 400px;
    font-size: 50px;
  }
  #links {
    width: 50%;
  }
  .form {
    width: 50%;
    font-size: 2rem;
  }
}
